

.progress_indicator {
	margin: 1% auto;
	width: 50%;
}


.progress {
	margin: 0 auto;
	width: 50%;
	display: none;
}

.status_text {
	text-align: center;
	font-weight: bold;
}

#center {
	text-align: center;
	margin: 1% auto;
}

.results {
  margin: 0 auto;
	width: 95%;
	display: none;
}

#main_row {

}

.test_size {
	text-align: center;
	width: 25%;
	margin: 10px auto;
}